<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
  <form action="/mypage" method="post" id="createlist">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>
   <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
    <h3>기록 입력</h3>
    </div>
  </div>
    <div class="row">
  		<div class="col-sm-offset-3 col-sm-6">

        <span id="helpBlock" class="help-block">서킷 선택</span>
        <select class="form-control" name="track_id" form="createlist">
        <option value="1">용인 스피드웨이</option>
        <option value="2">영암 KIC</option>
        <option value="3">인제 스피디움</option>
        </select>
  		</div>
  	</div>
    <br />
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <span id="helpBlock" class="help-block">차량 선택</span>
        <select class="form-control" name="car_id" form="createlist">
          <% @models.each do |model| %>
          <option value="<%=model.id%>"><%=model.brand%>&nbsp&nbsp&nbsp<%=model.model%></option>
          <% end %>
        </select>
      </div>
    </div>
    <br />

    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
      <span id="helpBlock" class="help-block">랩타임(1lap)</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <div class="col-sm-2">
          <input type="number" class="form-control" name="minute" max=9 min=0>
        </div>
        <div class="col-sm-1">
          <p>분</p>
        </div>
        <div class="col-sm-2">
          <input type="number" class="form-control" name="seconds" max=59 min=0>
        </div>
        <div class="col-sm-1">
          <p>초</p>
        </div>
        <div class="col-sm-2">
          <input type="number" class="form-control" name="mseconds" max=99 min=0>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <span id="helpBlock" class="help-block">주행날짜</span>
        <input type="date" class="form-control" name="recorddate">
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <span id="helpBlock" class="help-block">트랙 상태</span>
        <select class="form-control" name="track_status" form="createlist">
        <option value="맑음">맑음</option>
        <option value="눈">눈</option>
        <option value="비">비</option>
        </select>
        <br />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <div class="text-center">
          <button type="submit" class="button border dark small size1 btn-block">기록 저장</button>
        </div>
      </div>
    </div>
    <br />
    <br />
    </form>
</div>
<br />
