<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="flexslider welcome" style="height: 100px;">
        <div class="slides">
          <div class="slide" style="background-color: black; height: 100px; margin: 0 auto;padding-left: 10px; ">
                <div class="banner-wrapper" style="margin: 30px;">
                  <div class="banner" >
                    <div class="text-center" style="font-size: 20px;">
                      Inje Speedium
                    </div>
                  </div> <!-- end .banner -->
                </div> <!-- end .banner-wrapper -->
          </div> <!-- end .slide -->

          <div class="slide" style="background-color: black; height: 100px; margin: 0 auto;padding-left: 20px; ">
                <div class="banner-wrapper" style="margin: 30px;">
                  <div class="banner" >
                    <div class="text-center" style="font-size: 20px;">
                      Youngin Speedway
                    </div>
                  </div> <!-- end .banner -->
                </div> <!-- end .banner-wrapper -->
          </div> <!-- end .slide -->
        </div> <!-- end .slides -->
      </div> <!-- end .welcome -->
    </div>

    <div class="col-md-3">
      <div class="flexslider welcome" style="height: 100px;">
        <div class="slides">
          <div class="slide" style="background-color: black; height: 100px; margin: 0 auto;padding-left: 45px; ">
                <div class="banner-wrapper" style="margin: 30px;">
                  <div class="banner" >
                    <div class="text-center" style="font-size: 25px;">
                      1:23:45
                    </div>
                  </div> <!-- end .banner -->
                </div> <!-- end .banner-wrapper -->
          </div> <!-- end .slide -->

          <div class="slide" style="background-color: black; height: 100px; margin: 0 auto;padding-left: 20px; ">
                <div class="banner-wrapper" style="margin: 30px;">
                  <div class="banner" >
                    <div class="text-center" style="font-size: 25px;">
                      1:53:20
                    </div>
                  </div> <!-- end .banner -->
                </div> <!-- end .banner-wrapper -->
          </div> <!-- end .slide -->
        </div> <!-- end .slides -->
      </div> <!-- end .welcome -->
    </div>

    <div class="col-md-3">
      <div class="flexslider welcome" style="height: 100px;">
        <div class="slides">
          <div class="slide" style="background-color: black; height: 100px; margin: 0 auto;padding-left: 45px; ">
                <div class="banner-wrapper" style="margin: 30px;">
                  <div class="banner" >
                    <div class="text-center" style="font-size: 25px;">
                      2018.01.23
                    </div>
                  </div> <!-- end .banner -->
                </div> <!-- end .banner-wrapper -->
          </div> <!-- end .slide -->

          <div class="slide" style="background-color: black; height: 100px; margin: 0 auto;padding-left: 20px; ">
                <div class="banner-wrapper" style="margin: 30px;">
                  <div class="banner" >
                    <div class="text-center" style="font-size: 25px;">
                      2018.06.03
                    </div>
                  </div> <!-- end .banner -->
                </div> <!-- end .banner-wrapper -->
          </div> <!-- end .slide -->
        </div> <!-- end .slides -->
      </div> <!-- end .welcome -->
    </div>

    <div class="col-md-3">
      <div class="flexslider welcome" style="height: 100px;">
        <div class="slides">
          <div class="slide" style="background-color: black; height: 100px; margin: 0 auto;padding-left: 45px; ">
                <div class="banner-wrapper" style="margin: 30px;">
                  <div class="banner" >
                    <div class="text-center" style="font-size: 25px;">
                      I30 N
                    </div>
                  </div> <!-- end .banner -->
                </div> <!-- end .banner-wrapper -->
          </div> <!-- end .slide -->

          <div class="slide" style="background-color: black; height: 100px; margin: 0 auto;padding-left: 20px; ">
                <div class="banner-wrapper" style="margin: 30px;">
                  <div class="banner" >
                    <div class="text-center" style="font-size: 25px;">
                      veloster N
                    </div>
                  </div> <!-- end .banner -->
                </div> <!-- end .banner-wrapper -->
          </div> <!-- end .slide -->
        </div> <!-- end .slides -->
      </div> <!-- end .welcome -->
    </div>

  </div>
<br />
<br />
<br />

My Lap info
<table class="table">
  <thead style="background-color: black; color: white">
    <tr>
      <!-- 최신입력순서대로 상단에 배치 -->
      <th scope="col">#</th>
      <th scope="col">TRACK</th>
      <th scope="col">CAR</th>
      <th scope="col">TIME(1Lap)</th>
      <th scope="col">주행날짜</th>
      <th scope="col">노면상태</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>용인 스피드웨이</td>
      <td>Stinger 3.3T</td>
      <td>1:20:33</td>
      <td>18/03/23</td>
      <td>DRY</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>용인 스피드웨이</td>
      <td>Stinger 3.3T</td>
      <td>1:20:33</td>
      <td>18/03/23</td>
      <td>DRY</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>용인 스피드웨이</td>
      <td>Stinger 3.3T</td>
      <td>1:20:33</td>
      <td>18/03/23</td>
      <td>DRY</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>용인 스피드웨이</td>
      <td>Stinger 3.3T</td>
      <td>1:20:33</td>
      <td>18/03/23</td>
      <td>DRY</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>용인 스피드웨이</td>
      <td>Stinger 3.3T</td>
      <td>1:20:33</td>
      <td>18/03/23</td>
      <td>DRY</td>
    </tr>
  </tbody>
</table>
<!-- 하단 페이징 -->

</div>
